/* styles.css */
.body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.my-image {
    border: 6px outset silver;
    display: block;
    margin: 0;
    width: 20%;
}

.my-image-container {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.image-container-container {
    display: flex;
    justify-content: center;
}




.my-skills-header {
    margin-top: -2%;
}

.skills-list {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 1%;
    width: 80%;
}

.skills-list-wrap {
    display: flex;
    justify-content: center;
}

.skills-list-content {
    margin-top: -1%;
    margin-bottom: -1%;
    margin-right: 3%;
    margin-left: 3%;
}

.skills-list-container {
    display: flex;
    justify-content: center;
}


.header {
    background: #35424a;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    height: 50%;
}

.paragraph-text-container {
    display: flex;
    justify-content: center; 
}

.paragraph-text {
    width: 60%;    
    font-family: 'Times New Roman', Times, serif;
    font-size: 14pt;
    text-shadow: 4px 4px 8px rgb(0, 0, 0);
}

.first-h1 {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 4px 4px 8px rgb(0, 0, 0);
}

.view-my-projects-hear {
    display: flex;
    justify-content: center;
}

.projects {
    display: flex;
    justify-content: center;
    margin: 3%;
}


.project-button-container {
    display: flex;
    justify-content: center;
}

.project-button {
    color: #35424a;
    border: 1px solid grey;
    border-radius: 15%;
    font-size: 10pt;
    margin-left: 1%;
}

.button-link {
    color: black;
}

.button-link:hover {
    color: #06bb36;
}


.section-container {
    display: flex;
    justify-content: center;
}

.section {
    padding: 2%;
    width: 80%;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.about {
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 4px 4px 8px rgb(0, 0, 0);
}

.section1 {
    margin: 10% 5% 10% 5%;
    display: flex;
    justify-content: center;
}

.logo-title{
    margin-left: 0%;
}
.all-logos-container {
    display: flex;
    justify-content: center;
}
.title-and-logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.all-logos {
    grid-column: 2/3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;    
}
.pic {
    height: 6em;
    width: auto;
}
.logo-container {
    display: flex;
    justify-content: center;
}



.section2 {
    padding: 20px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.project {
    margin-bottom: 20px;
    width: 50%;
}

.linkedin {
    color: white;
    text-decoration: none;
}

.linkedin:hover {
    text-decoration: underline;
    color: #00a6ff;
}

.a {
    color: #0e5a8c;
    text-decoration: none;
}

.a:hover {
    text-decoration: underline;
    color: #00a6ff;
}

.footer {
    margin-top: 10%;
}

.footer-content {
    text-align: center;
    padding: 10px 0;
    background: #35424a;
    color: #ffffff;
}
